body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 99;
}

.logo {
    display: inline-block;
    color: red;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 50px;
    font-weight: bold;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}


a {
    display: inline-block;
    position: relative;
    background: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    /*10 px no topo e base, 30 px no lado direito e esquerdo*/
    transition: 0.5s;

    padding: 15px;
    border-radius: 2px;
    color: #FFCC00;
    margin-left: 10px;

    font-size: 15px;
}

a:hover {
    letter-spacing: 0.18em;
    /*em = tamanho adaptativo de acordo com o tamanho da tela*/
    background: var(--anima);
    /*"--" serve para chamar variaveis*/
    color: var(--anima);
    box-shadow: 0 0 35px var(--anima);
}

a:before {
    content: "";
    position: absolute;
    inset: 2px;
    /*2px em todas a direções a posição do elemento*/
    background: #27282c;
}

a span {
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    height: 240vh;
}

.container .imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    height: 65px;
    width: 100%;
    background-color: red;
    color: #fff;
}

.footer h4 {
    margin: 0;
}

.footer .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.footer .container .version {
    font-size: 12px;
    font-weight: 800;
}

.container-albuns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100vw;
    height: 100vh;
}
.container-item {
    width: 300px;
    height: 300px;  
    padding: 30px;
    border-radius: 4px;

    z-index: 99;
}

.movimentacao{
    display: flex;
}

.container-item img{
    width: 280px;
    height: 280px;
    z-index: 99;
}

.container-item-ultima {
    width: 100%;
    height: 300px;  
    padding: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.container-item-ultima img{
    width: 280px;
    height: 280px;
    z-index: 99;
}
.botoes {
    display: flex;
    flex-direction: column;
}